<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Magic CI/CD App</title>
    <!-- Lien "Magic" vers le CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>✨ Mes Missions DevOps</h1>
        <!-- <h1> Voir ici ::: </h1> -->
        <ul>
            {% for task in tasks %}
                <li>{{ task }}</li>
            {% endfor %}
        </ul>

        <form action="/add" method="post" class="input-group">
            <input type="text" name="task" placeholder="Nouvelle mission..." required>
            <button type="submit">Ajouter</button>
        </form>
    </div>
</body>
</html>